.checklist {
  min-width: 800px;
  min-height: 600px;
  position: relative;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #04AA6D;
  display: inline-block;
  padding: 10px;
}

.clearAll {
	display: none;
	position: absolute;
	right: 0;
}

button {
	background-color: #04AA6D;
	border: 1px solid green;
	color: white;
}

.btn-group {
	position: absolute;
	bottom: 0;
	width: 700px;;
}

.btn-group button {
	padding: 10px 24px; 
	cursor: pointer; 
	float: left; 
}

.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	cursor: pointer;
  }
  
  .btn:hover {
	background-color: #ddd;
  }
  
  .btn.active {
	background-color: #666;
	color: white;
  }

.btn-group button:not(:last-child) {
	border-right: none;
}

.counter {
	padding: 10px 1em 0 auto;
}

footer {
	position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
	display:block;
}

.toDoItems {
	max-height: 400px;
	overflow-y: auto;
}
